@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:opsz,wght@9..40,200&family=Edu+SA+Beginner:wght@500&family=Heebo:wght@300;400;800&family=Noto+Sans:wght@300;400&family=Pacifico&family=Sedgwick+Ave+Display&family=Tilt+Prism&family=Titillium+Web:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* font-family: 'Black Ops One', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Titillium Web', sans-serif; */

/* // header section  */
:root{
    --red:#e50914;
}
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-bottom: 10px solid rgb(53, 52, 52);
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg,rgba(19, 18, 18, 0.24),rgba(0, 0, 0, 0.966)), url("../images/netfliximg.png");
    border-bottom: 10px solid rgb(53, 52, 52);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.image img{
    height: 4rem;
    filter: drop-shadow(0px 0px 4px red);
}

.nav_right{
    display: inherit;
    gap: .5rem;
}

.lab{
    display: inherit;
    align-items: center;
    gap: 3px;
    color: white;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 5px;
    padding: .4rem 1rem;
     font-family: 'Heebo', sans-serif;
     font-weight: 600;
}
.lab select{
    background-color: transparent;
    color: whitesmoke;
    outline:none;
    border: none;
    font-family: 'Heebo', sans-serif;
     font-weight: 600;
     font-size: 1rem;
}

.lab select option{
    padding: .4rem 1rem;
    width: 2rem;
    color: black;
}
.btn{
    padding: 0.4rem 1rem;
    background-color: var(--red);
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    box-shadow:inset 0px 0px 3px 0px rgb(151, 3, 3);
    font-size: 1rem;
}
.btn:hover{
  background-color: rgb(209, 8, 8);
}
.center{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading{
    font-size: 3rem;
    font-family: arial;
    font-weight: 900;
    color: whitesmoke;
}
.header_pera{
    font-size: 1.3rem;
    font-family: arial;
    font-weight: 200;
    color: whitesmoke;
}
.inputform{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputemail{
    font-size: 1.1rem;
    color: rgb(172, 169, 169);
    background-color: rgba(0, 0, 0, 0.459);
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 20rem;
    border: 1px solid rgb(165, 163, 163);
    margin-right: 10px;
}
.getstart{
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
}

/* // first card */
.feature_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 2rem 4rem;
    border-bottom: 10px solid rgb(53, 52, 52);
}

.card_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
}
.card_right{
    flex: 1;
    position: relative;
}
.card_left h2,.question h2{
    font-size: 3rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    color: whitesmoke;
}
.card_left p{
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    color: whitesmoke;
}
.card_right img{
    position: relative;
    z-index: 2;
}
.video{
    position: absolute;
    top: 99px;
    left: 84px;
    z-index: 0;
}
.video1{
    position: absolute;
    top: 37px;
    left: 106px;
    z-index: 0;
    width: 26rem;
}

/* // question section  */

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 2rem;
    border-bottom: 10px solid rgb(53, 52, 52);
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.ques{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: rgb(65, 63, 63);
  border-radius: 5px;
  color: whitesmoke;
  font-family: 'Heebo', sans-serif;
  transition: all .2s ease-in;
  margin-top: 5px;
}
.show h3,.show span{
    font-size: 2rem;
    font-weight: 300;
}
.show:hover{
    background-color: rgb(83, 82, 82);
    cursor: pointer;
}

.ans{
  padding: 1rem 1rem;
  background-color: rgb(65, 63, 63);
  border-radius: 5px;
  color: whitesmoke;
  font-family: 'Heebo', sans-serif;
  transition: all 1s ease-in;
  font-size: 1.5rem;
  font-weight: 100;
  outline: 2px solid black;
  display: none;
}
.mar{
    margin-top: 3rem;
}

/* // footer section  */

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: black;
    padding: 2rem 5rem;
    border-bottom: 10px solid rgb(53, 52, 52);
    color: rgb(150, 147, 147);
}
.footer a{
    color: rgb(182, 175, 175);
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
}

.lists{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}